In [4]:
import pandas as pd
import numpy as np
import os

In [5]:
# transform csv to df
try:
    artikelliste_df = pd.read_csv("import.csv", sep=";")
except Exception as e:
    print(e)
artikelliste_df.head()

   Pos   Bezeichnung  Menge
0  NaN           NaN    NaN
1  1.0         SS.MB   24.0
2  NaN           NaN    NaN
3  NaN           NaN    NaN
4  3.0  SM3.MB00.0LH    7.0

In [6]:
# create / delete  the columns we need / dont need
try: 
    artikelliste_df.drop(columns="Pos", inplace=True)
    artikelliste_df.insert(0,"PARENT ARTICLE NO.",np.nan)
    artikelliste_df.insert(1,"Parent article name",np.nan)
    artikelliste_df.insert(2,"Parent article description",np.nan)
    artikelliste_df.insert(4,"Article name",np.nan)
    artikelliste_df.insert(5,"Article description",np.nan)
    artikelliste_df.insert(7,"Position no.",np.nan)
except Exception as e:
    print(e) 
       
artikelliste_df.head()

,PARENT ARTICLE NO.,Parent article name,Parent article description,Bezeichnung,Article name,Article description,Menge,Position no.
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,SS.MB,NaN,NaN,24.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,SM3.MB00.0LH,NaN,NaN,7.0,NaN

In [7]:
#change name of existing columns
try:
    artikelliste_df.rename(columns={"Bezeichnung":"ARTICLE NO.","Menge":"QUANTITY"},inplace=True)
except Exception as e:
    print(e)
    
artikelliste_df.head()

,PARENT ARTICLE NO.,Parent article name,Parent article description,ARTICLE NO.,Article name,Article description,QUANTITY,Position no.
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,SS.MB,NaN,NaN,24.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,SM3.MB00.0LH,NaN,NaN,7.0,NaN

In [8]:
# remove the redundant NaN rows
artikelliste_df = artikelliste_df[artikelliste_df["ARTICLE NO."].notna()]

In [9]:
# ask for input and insert into df
artikelnummer = input("Wie lautet die Artikelnummer?:")
artikelliste_df["PARENT ARTICLE NO."] = artikelnummer

In [10]:
# create new csv
if os.path.exists("finished.csv"):
    print("finished.csv gibt es bereits.")
    dateiname = input("Bitte Tippe einen neuen Namen für die Datei ein (Ohne '.csv'):")
    artikelliste_df.to_csv(f"{dateiname}.csv")

else:
    artikelliste_df.to_csv("finished.csv")

finished.csv gibt es bereits.